@model Hospital

<h1 style="color:blue">Details</h1>
<p>
    <a asp-controller="Hospitales"
    asp-action="Index">Back to list</a>
</p>
<ul class="list-group">
    <li class="list-group-item">
        Id hospital @Model.IdHospital
    </li>
    <li class="list-group-item">
        Nombre @Model.Nombre
    </li>
    <li class="list-group-item">
        Dirección @Model.Direccion
    </li>
    <li class="list-group-item">
        Teléfono @Model.Telefono
    </li>
    <li class="list-group-item">
        Camas @Model.Camas
    </li>
</ul>